name: Isometric Copy
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filename: assets/github-metrics.svg
          
          # On désactive la carte "classique" pour ne garder que la 3D
          base: ""
          
          # Configuration du plugin Isométrique
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year # Pour avoir 6 mois
          plugin_isocalendar_style: night-rainbow