name: Full Profile Metrics

on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
          # Nom du fichier final
          filename: github-metrics.svg

          # 1. LA BASE (Ce que tu voulais !)
          # Affiche l'entête, l'activité, la communauté, etc.
          base: header, activity, community, repositories, metadata
          
          # 2. LE STYLE
          # "radical" est très populaire (noir/rouge/néon). 
          # Tu peux changer par : dracula, onedark, cobalt, etc.
          config_theme: radical
          
          # 3. LE GRAPHIQUE 3D (Isométrique)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year