name: Isometric Metrics
on:
  schedule: [{cron: "0 0 * * *"}] # Une fois par jour
  workflow_dispatch:
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          base: "" # On ne veut que le graphique
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year # Affiche 6 mois